body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}


input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 400px;
}

button {
  margin-top: 25px;
  padding: 15px 15px;
  background-color: #0099ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  font-size: 18px;
}

button:hover {
  background-color: #000000;
  color: white;
}

.weather-info {
  margin-top: 20px;
  font-size: 18px;
}

.weather-info img {
  width: 50px;
  height: 50px;

}